.pageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 32px 16px 112px 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 800px;
}

.container h1 {
  text-align: center;
  margin-bottom: 16px;
  font-size: var(--font-h1);
  color: var(--color-light, #efeee0);
}

.tabsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--color-dark-alt, #1a1e1f);
}

.tabs {
  display: flex;
  width: 100%;
  max-width: 380px;
  justify-content: space-between;
}

.tabs span {
  cursor: pointer;
  transition: color 0.3s;
  padding: 8px;
  font-weight: 600;
}

.tabActive {
  border-bottom: 2px solid var(--color-primary-normal, #26b258);
}
