.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 1rem 1.5rem 1rem;
}

.footer hr {
  width: 100%;
  height: 0.5px;
  background-color: var(--color-secondary-darker);
  margin-bottom: 1.5rem;
}

.logo {
  display: none;
}

.tools,
.links,
.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.tools span,
.links span,
.resources span {
  font-size: var(--font-body);
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.tools a,
.links a,
.resources a {
  font-size: var(--font-body);
  color: var(--color-black-light-active);
  margin-bottom: 0.2rem;
}

.links a i {
  margin-left: 0.3rem;
}

.copyright {
  font-size: var(--font-body);
  color: var(--color-black-light-active);
  text-align: center;
}

.copyrightText {
  display: block;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 8rem 2rem 1.5rem 2rem;
  }

  .footer hr {
    display: none;
  }

  .logo {
    display: flex;
    font-size: var(--font-h4);
    font-weight: 700;
    margin-right: 2rem;
    height: auto;
  }

  .logo span {
    margin-left: 0.5rem;
  }
  .tools,
  .links,
  .resources {
    align-items: flex-start;
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
