.header {
  padding: 0 16px;
  height: 60px;
  background-color: var(--color-dark-alt, #1a1e1f);
}

.content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-h5);
  font-weight: 700;
  color: var(--color-black-light, #e8e8e8);
  text-decoration: none;
}

.nav {
  display: none;
}

.userInfo {
  display: none;
}

.spotifyButton {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding: 0 32px;
  }

  .nav {
    display: flex;
    gap: 36px;
    align-items: center;
  }

  .nav a {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    font-size: var(--font-body);
  }

  .nav a span {
    font-weight: 600;
  }

  .icon {
    color: var(--color-black-light, #e8e8e8);
    opacity: 0.25;
  }

  .iconActive i {
    color: var(--color-primary-normal, #26b258);
    filter: drop-shadow(0 0 12px rgba(38, 178, 88, 0.25));
  }

  .menuMobile {
    display: none;
  }

  .userInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-black-light, #e8e8e8);
  }

  .userInfo img {
    border-radius: 50%;
  }
}
